In [ ]:
import sqlite3
import pandas as pd
import os 

#Conexion y creacion de Base de Datos
ruta = os.getcwd()
path=(f"{ruta}\db_empresa.db")
sqliteConnection = sqlite3.connect(path)
cursor = sqliteConnection.cursor()

def cerrar_conexion(self):
    sqliteConnection.commit()
    cursor.close()
    sqliteConnection.close()

print("**********Bienvenido al sistema Empresa**********")
print("**********************MENU***********************")
print("1. Numero de trabajadores por Genero")
print("2. Filtro de trabajadores por Genero")
print("3. El horario de la trabajadora Carla Montenegro")
print("*************************************************")
opcion = int(input("Ingrese la opcion que desea realizar: "))

if(opcion==1):
    os.system('cls')
    query = "SELECT count() as cantidad, genero as numero  FROM TRABAJADOR group by GENERO"
    print(pd.read_sql_query(query, sqliteConnection))  
    print("*************************************************")

elif (opcion==2):
    
    print("*************************************************")
    print("1. Mostrar datos de trabajadoras Femeninas")
    print("2. Mostrar datos de trabajadores Masculino")   
    print("*************************************************")
    
    trabajador=int(input("Seleccione la opcion que desea realizar: "))
    if(trabajador==1):
        os.system('cls')
        query = "SELECT RUT_TRABAJADOR AS RUT, NOMBRE_TRABAJADOR AS NOMBRE, TRABAJADOR.APELLIDO_TRABAJADOR AS APELLIDO, TRABAJADOR.GENERO AS GENERO, DEPARTAMENTO.NOMBRE AS DEPARTAMENTO FROM TRABAJADOR JOIN DEPARTAMENTO ON TRABAJADOR.ID_DEPARTAMENTO=DEPARTAMENTO.ID_DEPARTAMENTO WHERE TRABAJADOR.GENERO='Femenino'"
        print(pd.read_sql_query(query, sqliteConnection))  
        print("*************************************************")
    elif(trabajador==2):
        os.system('cls')
        query = "SELECT RUT_TRABAJADOR AS RUT, NOMBRE_TRABAJADOR AS NOMBRE, TRABAJADOR.APELLIDO_TRABAJADOR AS APELLIDO, TRABAJADOR.GENERO AS GENERO, DEPARTAMENTO.NOMBRE AS DEPARTAMENTO FROM TRABAJADOR JOIN DEPARTAMENTO ON TRABAJADOR.ID_DEPARTAMENTO=DEPARTAMENTO.ID_DEPARTAMENTO WHERE TRABAJADOR.GENERO='Masculino'"
        print(pd.read_sql_query(query, sqliteConnection))  
        print("*************************************************")
        
        
elif (opcion==3):
    os.system('cls')
    print("*************************************************")
    print("1. El horario de Carla Montenegro es:")
    os.system('cls')
    query = "SELECT TRABAJADOR.NOMBRE_TRABAJADOR AS NOMBRE, HORARIO.HORA AS HORA from TRABAJADOR_HORARIO JOIN TRABAJADOR ON TRABAJADOR_HORARIO.RUT_TRABAJADOR=TRABAJADOR.RUT_TRABAJADOR JOIN HORARIO ON TRABAJADOR_HORARIO.ID_HORARIO=HORARIO.ID_HORARIO WHERE TRABAJADOR.RUT_TRABAJADOR='33333333-3'"
    print(pd.read_sql_query(query, sqliteConnection))  
    print("*************************************************")  
else:    
    print("Opcion incorrecta")